<p>Hi {{ toEmail }},</p>

<p>BCR has verified the following Bitcoin holdings:</p>

<ul>
  {{#each verifiedHoldings}}
    <li>{{this.customerHoldingAmount}} held at {{this.custodianName}}.</li>
  {{/each}}
</ul>

<p>Thanks,</p>
<p>Bitcoin Custodian Registry</p>
