<p>Hi {{ toEmail }},</p>

<p>Click on the link to approve or reject the registration of {{ exchangeName }} by {{ registrationEmail }}</p>

<a href="{{ link }}">Open the Approvals Page</a>

<p>Thanks,</p>
<p>Crypto Registry</p>
