<p>Hi {{ toEmail }},</p>

<p>Click the link to verify your email, and initiate the approval process.</p>

<a href="{{ link }}">Verify my email and initiate approvals.</a>
<br>

<p>Thanks,</p>
<p>Crypto Registry</p>
