<p>Hi {{ toEmail }},</p>

<p>BCR has verified the following Bitcoin holdings:</p>

<ul>
  {{#each verifiedHoldings}}
    <li>{{this.customerHoldingAmount}} bitcoin held at {{this.exchangeName}}.</li>
  {{/each}}
</ul>

<p>Thanks,</p>
<p>The Crypto Registry</p>
